@import "../../../styles.scss";

.menu_nav {
//   background-color: $color-1;
  background: linear-gradient(45deg, #79249f, $color-5);
  height: 80px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .left {
      width: 30%;
      height: 100%;

      .img {
        height: 100%;
        background-image: url("../../../assets/logos/logo_color.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .right {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 950px) {
        display: none;
      }

      a {
        font-size: 13px;
      }
    }

    .burgernav {
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: white;
      margin-right: 20px;

      @media (max-width: 950px) {
        display: flex;
      }

      .menu-icon {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;

        .bar {
          height: 3px;
          width: 100%;
          background-color: white;
          transition: all 0.3s ease;
        }
      }

      .nav-links {
        list-style: none;
        display: none;
        flex-direction: column;

        &.show {
          display: flex;
          background: linear-gradient(45deg, #79249f, $color-5);
          position: absolute;
          top: 80px;
          right: 0;
          z-index: 10;
          padding: 20px 50px;
          width: 70%;
          margin: auto;
          border-radius: 0 0 $br $br;
          border-right: 5px solid $color-4;
          border-bottom: 5px solid $color-4;
        }

        li {
          padding: 10px 0;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
