<section class="menu_nav">
    <div class="wrap">
        <div class="container">
            <a routerLink="home" class="left">
                <div class="img"></div>
            </a>

            <div class="right">
                <a routerLink="home">Inicio</a>
                <a routerLink="carta">La carta</a>
                <a routerLink="about">Sobre Nosotros</a>
                <a routerLink="restaurante">El restaurante</a>
                <a routerLink="contact">Contacto</a>
                <a class="btn-2 main" href="tel:637054718"> 
                    <img src="../../../assets/icons/phone.png" style="width: 20px; margin-right: 10px;" alt="Teléfono"> Reservar
                </a>

            </div>
        </div>
    </div>
</section>