@import '../../../styles.scss';
.footer{
    background-color: $color-3;
    padding-top: 50px;
    padding-bottom: 50px;

    .container1{
        display: flex;
        justify-content: space-between;

        @media (max-width: 1000px) {
        flex-direction: column;
        }

        h4{
            margin-bottom: 20px;
            @media (max-width: 1000px) {
                text-align: center;
                width: 100%;
                }
        }

        a{
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
            color: $color-2;
        }

        .logo{
            width: 20%;
            background-image: url('../../../assets/logos/logo_color.png');
            background-repeat: no-repeat;
            background-size: contain;

            @media (max-width: 1000px) {
                width: 100%;
                margin-bottom: 30px;
                background-position: center;
                height: 60px;
                }
        }

        .info, .quicklinks, .politicas{
            width: 20%;
            display: flex;
            flex-direction: column;
            @media (max-width: 1000px) {
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
                }
        }
    }

    .container2{
        width: 100%;

        p{
            margin-top: 50px;
            color:$color-5;
            font-size: 10px;
            line-height: 15px;
            text-align: center;

            @media (max-width: 1000px) {
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
                }
        }
    }
}