<section class="footer">
    <div class="wrap">
        <div class="container">
            <div class="container1">
                <div class="logo"></div>
                <div class="info">
                    <h4>Contacto</h4>
                    <a href="tel:637054718">637 05 47 18 </a>
                    <a href="emailto:elgatoflacotaberna@gmail.com">elgatoflacotaberna&#64;gmail.com</a>
                    <a href="">C. Maria Curie, 39, 28342 <br> Valdemoro, Madrid</a>
                </div>

                <div class="quicklinks">
                    <h4>Enlaces Rápidos</h4>
                    <a href="">Sobre nosotros</a>
                    <a href="">El restaurante</a>
                    <a href="">Carta</a>
                    <a href="">Opiniones</a>
                    <a href="">Eventos</a>
                </div>

                <div class="politicas">
                    <h4>Políticas y Cookies</h4>
                    <a href="">Políticas de Privacidad</a>
                    <a href="">Términos y Condiciones</a>
                    <a href="">Política de Cookies</a>
                </div>
            </div>
            <div class="container2">
                <p class="caption">© 2024 Freelance Web Design by Víctor Fernández (Vicbolt). Todos los derechos reservados. <br> El contenido de este sitio web, incluyendo textos, imágenes, logotipos y otros materiales, es propiedad de El Gato Flaco y de Freelance Web Design by Víctor Fernández (Vicbolt) y está protegido por las leyes de derechos de autor.
                    <br> Queda prohibida su reproducción, distribución o uso no autorizado sin el consentimiento expreso del titular.</p>
            </div>
        </div>
    </div>
</section>