<section class="contacto_page">
    <div class="wrap">
        <div class="container">
            <h3>Contacta con nosotros</h3>
            <div class="full_container">
                <div class="info">
                    <a href="">Reservas: 637 05 47 18</a>
                    <a href="">Correo electrónico: elgatoflacotaberna&#64;gmail.com</a>
                    <a href="">C. Maria Curie, 39, 28342. Valdemoro, Madrid</a>
                </div>
                <div class="img">
                    <img src="../../../assets/logos/logo_circulo.png" alt="Logotipo con el gato">
                </div>
            </div>

        </div>
    </div>
</section>