<section class="about_page">
  <div class="wrap">
    <div class="container">
      <div class="left">
        <img
          src="../../../assets/backgrounds/ilustracion.png"
          alt="Ilustración del chef con el gato"
        />
      </div>
      <div class="right">
        <h3>Sobre Nosotros</h3>

        <p>
          El Gato Flaco no es solo un restaurante, es la realización del sueño
          de Jorge, nuestro apasionado cocinero. Con años de experiencia entre
          fogones y un amor innato por la cocina, Jorge decidió hace un año
          abrir este rincón especial donde fusiona su creatividad culinaria con
          la mejor comida casera. </p>

          <p>
          Cada plato que sale de nuestra cocina refleja su dedicación y pasión
          por los sabores auténticos. Desde nuestras croquetas de jamón ibérico
          hasta las alitas orientales, cada bocado es una invitación a disfrutar
          de su mundo gastronómico. </p>

          <p>
          Después de un año de aventuras culinarias, Jorge está más que feliz
          con el éxito que El Gato Flaco ha alcanzado. Su mayor satisfacción es
          ver a los clientes disfrutar, compartir y volver a por más.
          ¡Bienvenidos a nuestro restaurante, donde la comida y la pasión se
          encuentran en cada plato! </p>
      </div>
    </div>
  </div>
</section>
