<section class="menu_inicio">
  <div class="wrap">
    <div class="container">
      <div class="left">
        <h3>La carta</h3>
        <p>
          En El Gato Flaco, nuestro menú es una celebración de la cocina casera
          con un toque creativo.
        </p>
        <p>
          Desde nuestras alitas de pollo oriental hasta nuestras pizzas
          artesanas y hamburguesas jugosas, cada plato está diseñado para
          satisfacer todos los gustos.</p>

          <p>Utilizamos ingredientes frescos y de
          calidad para ofrecerte una experiencia culinaria única que te hará
          volver por más. Ya sea que te apetezca una comida rápida y sabrosa o
          una cena relajada con amigos, nuestro menú tiene algo para cada
          ocasión. 
          
          <p>Descubre nuestras opciones más populares y déjate sorprender
          por nuestras innovaciones gastronómicas. </p>

          <a class="btn-2 main" routerLink="carta">
            Ver la Carta Completa
          </a>
      </div>

      <div class="right">
        <img src="../../../assets/pics/burger-mvl.png" title="Hamburguesa con mucho queso derretido" alt="Mano cogiendo una hamburguesa">
      </div>
    </div>
  </div>
</section>
