<section class="aboutus_inicio">
    <div class="wrap">
        <div class="container">
            <div class="left">
                
            </div>

            <div class="right">
                <h3>Sobre Nosotros</h3>
                <p>En El Gato Flaco, nos apasiona la cocina casera con un giro moderno. Desde nuestras alitas de pollo oriental hasta nuestras pizzas artesanas y hamburguesas suculentas, cada plato está creado con ingredientes frescos y una buena dosis de creatividad.</p>
                    
                    <p>Nuestro restaurante, con su estilo juvenil y vibrante, está diseñado para ofrecerte no solo una comida deliciosa, sino también una experiencia memorable. </p>

                   <p> Nuestro objetivo es que cada visita sea especial, ya sea para disfrutar de una comida casual con amigos o para celebrar una ocasión especial. Queremos que te sientas como en casa y disfrutes de un ambiente lleno de energía y buen rollo.</p>

                    <div class="btn-2 main" routerLink="about">
                        Conocer más
                    </div>
            </div>
        </div>
    </div>
</section>